<footer class="footer" id="contact">
	<div class="container">

		<div class="row">
		
		<!-- Latest post -->
		<div class="col-sm-4">
			<h3 class="heading-info">队员招募微信群:</h3>
  <img src="assets/images/qrcode.jpg" alt="微信群">
		</div>
		<!-- end latest post -->
		
		<!-- Contact info about company -->
		<div class="col-sm-4">
			<h3 class="heading-info heading-info--mobile">联系方式:</h3>
			<!-- Contact information about company -->
				<address class="contact-info contact-info--list">
					<div class="row">
						<div class="col-xs-6 col-sm-12 one-column">
							<span class="contact-info__item">
								<i class="fa fa-location-arrow"></i>
								240 Westwood Avenue, Singapore 648363
							</span>
							<span class="contact-info__item">
								<i class="fa fa-mobile"></i>
								90020242
							</span>
						</div>
			
						<div class="col-xs-6 col-sm-12 one-column">
							<span class="contact-info__item">
								<i class="fa fa-envelope"></i>
								storm@bostage.com
							</span>
							<span class="contact-info__item">
								<i class="fa fa-weixin"></i>
								90020242
							</span>
						</div>
					</div>
				</address>
				<!-- end contact information -->
		</div>
		<!-- end contact info -->
		
		<!-- Social links -->
		<div class="col-sm-4">
		<h3 class="heading-info heading-info--mobile">我们到社交网络:</h3>
			<div class="social social--default">
				<!-- List with social icons -->
				<ul>
					<li class="social__item"><a class="social__link" href="https://twitter.com/OliaGozha" target="_blank"><i class="social__icon fa fa-twitter"></i></a></li>
					<li class="social__item"><a class="social__link" href="https://www.facebook.com/olia.gozha" target="_blank"><i class="social__icon fa fa-facebook"></i></a></li>
					<li class="social__item"><a class="social__link" href="https://plus.google.com/u/0/+OliaGozha/posts" target="_blank"><i class="social__icon fa fa-google-plus"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-pinterest"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-tumblr"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://www.linkedin.com/pub/olia-gozha/49/b91/268" target="_blank"><i class="social__icon fa fa-linkedin"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-youtube"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-github-alt"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-flickr"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-vimeo-square"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://dribbble.com/OliaGozha" target="_blank"><i class="social__icon fa fa-dribbble"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-stumbleupon"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://instagram.com/olechka_dumka#" target="_blank"><i class="social__icon fa fa-instagram"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-soundcloud"></i></a></li>
					<li class="social__item"><a class="social__link" href="http://www.behance.net/olia_gozha" target="_blank"><i class="social__icon fa fa-behance"></i></a></li>
					<li class="social__item"><a class="social__link" href="#" target="_blank"><i class="social__icon fa fa-vine"></i></a></li>
				</ul>
			</div>
		</div>
		<!-- end social links -->
		</div><!-- end row -->
		
		<div class="copy">
			&copy; The Storm Paintball Club, 2015. All rights reserved. Done by <a href="http://www.bostage.com/" target="_blank">Bostage Pte. Ltd.</a>
		</div>

	</div><!-- end container -->
</footer>