<footer class="footer" id="contact">
	<div class="container">

		<div class="row">
		
		<!-- Latest post -->
		<div class="col-sm-4">
			<h3 class="heading-info">最新活动安排:</h3>

			<div class="row">
				<div class="col-xs-6 col-sm-12 one-column">
					<article class="post post--latest">
						<h3 class="not-visible">Latest post</h3>
						<a class="post__images" href="#">
							<img src="assets/images/psp.gif" alt="">
						</a>
						<a class="post__text" href="#">战队内部训练</a>
						<time datetime="2014-07-17" class="post__date">2015年2月15日</time>
					</article>
				</div>
			
				<div class="col-xs-6 col-sm-12 one-column">
					<article class="post post--latest">
						<h3 class="not-visible">Latest post</h3>
						<a class="post__images" href="#">
							<img src="assets/images/maker.jpg" alt="">
						</a>
						<a class="post__text" href="#">旧马场新队员招募</a>
						<time datetime="2014-07-16" class="post__date">2015年3月1日</time>
					</article>
				</div>
			</div>
		</div>
		<!-- end latest post -->
		
		<!-- Contact info about company -->
		<div class="col-sm-4">
			<h3 class="heading-info heading-info--mobile">联系方式:</h3>
			<!-- Contact information about company -->
				<address class="contact-info contact-info--list">
					<div class="row">
						<div class="col-xs-6 col-sm-12 one-column">
							<span class="contact-info__item">
								<i class="fa fa-location-arrow"></i>
								240 Westwood Avenue, Singapore 648363
							</span>
							<span class="contact-info__item">
								<i class="fa fa-mobile"></i>
								90020242
							</span>
						</div>
			
						<div class="col-xs-6 col-sm-12 one-column">
							<span class="contact-info__item">
								<i class="fa fa-envelope"></i>
								storm@bostage.com
							</span>
							<span class="contact-info__item">
								<i class="fa fa-weixin"></i>
								90020242
							</span>
						</div>
					</div>
				</address>
				<!-- end contact information -->
		</div>
		<!-- end contact info -->
		
		<div class="col-sm-4">
			<h3 class="heading-info">战队招募微信群:</h3>
  			<img src="assets/images/qrcode.jpg" alt="微信群">
		</div>

		</div><!-- end row -->
		
		<div class="copy">
			&copy; The Storm Paintball Club, 2015. All rights reserved. Done by <a href="http://www.bostage.com/" target="_blank">Bostage Pte. Ltd.</a>
		</div>

	</div><!-- end container -->
</footer>