<header class="header-placement">
	<div class="content">

		<div class="header-fixed header-down">
			<div class="container">
				<!--  Logo  -->
				<a class="logo" href="index.html"> 
        <img src="assets/images/logo.png" alt=""> 
				   	</h1>     		 
				</a>
				<!-- End Logo -->

				<!-- Navigation section -->
				<nav class="z-nav">
			    	<!-- Toggle for menu mobile view -->
			        <a href="#" class="z-nav__toggle">
			        	<span class="menu-icon"></span>
			        	<span class="menu-text">navigation</span>
			        	<div class="menu-head"></div>
			        </a>

			        <div class="z-nav-inner">
			        <ul class="z-nav__list">
			        	<li class="z-nav__item">
			        		<!-- Subsidiary menu toogle button -->
			            	<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
			        		<a class="z-nav__link z-nav__link--active" href="index.html">首页</a>
			        	</li>

			        	<li class="z-nav__item">
			        		<!-- Subsidiary menu toogle button -->
			            	<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
			        		<a class="z-nav__link" href="about.html">关于我们</a>
			        	</li>
			            
			            <li class="z-nav__item">
			                <!-- Subsidiary menu toogle button -->
			            	<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
			            	<a class="z-nav__link" href="members.html">战队成员</a>
			            </li>
			            
			            
			            <li class="z-nav__item">
			                <!-- Subsidiary menu toogle button -->
			            	<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
			            	<a class="z-nav__link" href="gallery-3col.html">活动计划</a>
			            </li>
			            
			            <li class="z-nav__item">
			            </li>

			            <li class="z-nav__item">
			                <!-- Subsidiary menu toogle button -->
			            	<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
			            	<a class="z-nav__link" href="blog.html">训练计划</a>
			            </li>

			            <li class="z-nav__item">
			                <!-- Subsidiary menu toogle button -->
			            	<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
			            	<a class="z-nav__link" href="forum.html">成长历程</a>
			            </li>
			            
			            <li class="z-nav__item">
			                <!-- Subsidiary menu toogle button -->
			            	<span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
			            	<a class="z-nav__link" href="site-map.html">联系我们</a>
			            </li>
			        </ul>
			        </div><!-- end list menu inner container -->
			        <!-- end list menu item -->
			    </nav>
			    <!-- end navigation section -->
			</div> <!-- end container -->
		</div> <!-- end fixed top block -->

		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<h1 class="main-title">新队友招募，火热进行中！</h1>
			<h2 class="main-title-helper waypoint" data-animate-down="header-up" data-animate-up="header-down">你有兴趣参加真人CS彩弹射击活动吗？立即和我们取得联系吧，欢迎从来没玩过的小伙伴！</h2>
		</div>

		<a class="scroll-next" href="#about"></a>
	</div>
	
</header><!-- /header -->